html,
body{
    height: 100%;
}

* {
    font-size: 14px;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

.lobby{
    background-image: url('../images/bg.png');
    height: 100%;
    background-size: cover;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 468px;
}

.board{
    width: 90%;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.game-list{
    padding: 0 16px;
}

.game-room{
    float: left;
    width: 50%;
    padding: 2px;
    position: relative;
}

.game-room .room-container{
    width: 100%;
    position: absolute;
    height:100%;
    color: white;
}

.game-room .room-container .room-img{
    width: 100%;
    height: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 45% 40%;
    position: relative;
}

.game-room .room-container .room-img .room-label{
    position: absolute;
    width: 80%;
    margin: 9%;
    height: 50px;
    background: #28ACE5;
    bottom: 4%;
    border-radius: 0 0 5px 5px;
    padding: 2px 10px
}

.game-room .room-container .room-img .room-label .name{
    font-size: 16px;
}

.game-room .room-container .room-img .room-label .status{
    float: right;
    width: 48px;
    margin-top: 1px;
}

.board h2{
    text-align: center;
}

h2{
    font-size: 20px;
}

#video img{
    /* width: 100%;
    height: auto; */
}

.wrapper{
    height: 100%;
    max-width: 468px;
    position: relative;
}


.game {
    width: 100%;
    height: 100%;
    background-image: url('../images/game_bg.png');
    background-size: cover;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.rotation-90{
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
    position: absolute;
}

.controls{
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    display: flex;
}

.controls .info{
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 10px;
}

.controls .agora-button{
    display: flex;
    flex: 1;
}

.controls .agora-button.main{
    flex: 2;
}

.controls .history{
    background-image: url("../images/history.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.controls .chat{
    background-image: url("../images/chat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}


.controls .main{
    background-image: url("../images/game_main.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    color:white;
    text-align: center;
}

.controls .main:active{
    background-image: url("../images/game_main_down.png");
    background-position: 50% 55%;
}

.controls .main .content{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 24px;
}

.control-btn {
    position: absolute;
    background-size: 50%;
}

.control-left{
    background-image: url('../images/left.png');
    width: 66px;
    height: 66px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}


.control-right{
    background-image: url('../images/right.png');
    width: 66px;
    height: 66px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}


.control-up{
    background-image: url('../images/up.png');
    width: 66px;
    height: 66px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}


.control-down{
    background-image: url('../images/down.png');
    width: 66px;
    height: 66px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.control-catch{
    background-image: url('../images/catcher.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.control-camera{
    background-image: url("../images/camera.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 40%;
    width: 58px;
    height: 66px;
    background-size: 100%;
    background-color: transparent;
}

.no-border{
    border: 0;
}

.banner{
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 10;
}

.banner-container{
    height: 100%;
    white-space : nowrap; /* this does the trick */
    overflow : hidden;
}

.banner-container .user-number{
    color: white;
    width: 30%;
    background-color: #FD9E10;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    margin: 25px 20px 0 16px;
}

.banner-container .users{
    display: inline-block;
}

.banner-container .users>img{
    display: inline-block;
    transform: scale(0.8,0.8);
}

.banner-container .active.users>img{
    display: inline-block;
    transform: scale(1,1);
}


.top-layer{
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    background-image: url("../images/message_box.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 100%;
    height: 100%;
    color:white;
}

.top-layer .message-box{
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 24px;
    height: 100%;
    text-align: center;
}

.top-layer .confirm{
    background-image: url("../images/game_main.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    text-align: center;
    height: 200px;
    width: 100%;
    bottom:0;
    position: absolute;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 24px;
}

.top-layer .confirm:active{
    background-image: url("../images/game_main_down.png");
    background-position: 50% 55%;
}